
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/home/Home.css" rel="stylesheet" />
</head>
<body>
    <div style="width:100%;height:100%;">
        <div style="font-size:70px; color:cyan; text-align:center; width:100%; height:200px; margin-top :50px;"> 
          图书管理系统
        </div>
        <div id="login">
            <form  id="flogin" action="/Home/Login" method="post">
                <input type="text" id="txtname" name="name" style="font-size:20px;margin:73px auto auto 32px; width:400px;height:47px;"/><br />
                <input type="password" id="txtpwd" name="pwd" style="font-size:20px;margin:63px auto auto 32px; width:400px;height:47px;"/>
                <input type="submit" id="submit" name="btnsbmit" value="" style="margin:30px auto auto 30px; width:403px;height:50px; background-color:transparent;" />
            </form>
        </div>
        <div style="font-size:70px; color:cyan; text-align:center; width:100%; height:200px;margin-top :30px;">
            welcome to index
        </div>
    </div>
</body>
</html>
